header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../assets/img/th\ \(1\).jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  .paypal3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
  }

  